@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #1b1b1b;
  color: black;
  font-family: sans-serif;
}
@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(6px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-6px); }
}

.animate-fade {
  animation: fadeInOut 1.5s ease forwards;
}
